* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Darkdesaturatedcyan: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --Darkmoderatecyan: hsl(168, 34%, 41%);
  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

.menu {
  display: flex;
  margin: 20px;
  margin-left: 680px;
}
.a {
  margin-right: 60px;
  color: white;
}
.b {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: white;
  font-size: 19px;
}
.b:hover {
  border-radius: 35px;

  padding: 10px;
  background-color: rgba(253, 253, 253, 0.212);
}
a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

p {
  font-family: "Barlow", sans-serif;
}
ul {
  list-style-type: none;
  display: flex;
}
.header {
  position: absolute;
  display: flex;
  margin-top: 20px;
  width: 100%;
}
#blue {
  width: 100%;
  height: 100%;
}
.logo {
  margin: 15px;
}

#top1 {
  position: absolute;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.top {
  color: white;
  font-size: 45px;
}
#h {
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
  font-weight: bold;
}
.arrow {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  display: flex;
  position: relative;
  top: -4px;
  width: 100%;
}
#img {
  width: 655px;
  height: 100%;
  max-width: 655px;
}
#head {
  font-size: 45px;
  font-weight: bold;
  font-family: "Fraunces", serif;
}
#middle {
  margin-bottom: 35px;
}
#learn {
  color: black;
  font-family: "Fraunces", serif;
  letter-spacing: 1px;
}
#learn:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-decoration-color: hsl(7, 99%, 70%);
  /* text-underline-offset: -8px; */
  border-radius: 2px;
}

#learn1 {
  color: black;
  font-family: "Fraunces", serif;
  letter-spacing: 1px;
}
#learn1:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-decoration-color: hsl(51, 100%, 49%);
  /* text-underline-offset: -2px; */
}
.egg {
  background-color: var(--Yellow);
}
.text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}
.section3 {
  display: flex;
  position: relative;
  top: -4px;
}
.section4 {
  display: flex;
  position: relative;
  top: -4px;
  height: 500px;
}
.cherries {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  width: 100%;
}
.tangerine {
  background-image: url("/images/desktop/image-photography.jpg");
  width: 100%;
}
.text {
  /* top right botom left */
  margin: 350px 150px 0px 150px;
}
#p1 {
  text-align: center;
}
.p2 {
  text-align: center;
}

.section5 {
  height: 100%;
  margin: 70px;
}
#client {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 10px;
  color: var(--Darkgrayishblue);
}
.profiles {
  display: flex;
  height: 450px;
}
.img-emily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.img-thomas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-jennie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#profilepic {
  border-radius: 270px;
  width: 50px;
}

#paragragh {
  text-align: center;
  color: var(--Darkgrayishblue);
  margin-top: 30px;
  font-size: 14px;
}
.name {
  text-align: center;
  margin-top: 50px;
}
#job {
  margin-top: 10px;
  color: var(--Darkgrayishblue);
}
.section6 {
  display: flex;
  position: relative;
  top: -4px;
}
.pic1 {
  display: flex;
}
.pic2 {
  display: flex;
}
#pic {
  width: 100%;
  height: 450px;
}
#pic2 {
  width: 100%;
  height: 450px;
}
.section7 {
  /* display: flex; */
  position: relative;
  top: -10px;
  background-color: var(--Darkmoderatecyan);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sunny {
  margin-left: 40px;
  margin-bottom: 20px;
}
.option {
  margin-bottom: 60px;
}
#opt {
  color: var(--Darkdesaturatedcyan);
  margin-left: 60px;
  font-weight: bold;
}
#opt:hover {
  color: white;
}
.fa-brands {
  color: var(--Darkdesaturatedcyan);
  margin-left: 20px;
  width: 20px;
}
.fa-brands:hover {
  color: var(--White);
}
@media (min-width: 1400px) {
  * {
    display: none;
  }
}
@media (min-width: 640px) and (max-width: 1400px) {
  #blu {
    display: none;
  }
  .ham {
    display: none;
  }

  .dropdown {
    display: none;
  }
}
@media (max-width: 640px) {
  .section1 {
    display: flex;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .ham {
    margin-left: 10px;
    margin-top: 11px;
  }

  .hi {
    display: none;
  }
  #blu {
    width: 100%;
    width: 100%;
  }
  .menu {
    display: none;
  }
  #an {
    color: var(-- Darkgrayishblue);
  }
  .ham {
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--White);
    margin-top: 30px;
    margin-left: -300px;
    /* margin-left: -90px; */
    min-width: 350px;
    /* width: 100%; */
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    display: flex;
    color: black;
    margin: 30px;
    font-size: 30px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content ul {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dropdown:hover .ham {
    background-color: #fdfffd2f;
  }
  #an {
    color: hsl(210, 4%, 67%);
  }
  #bn {
    font-family: "Fraunces", serif;
    font-weight: 900;
  }
  #bn:hover {
    border-radius: 35px;
    padding: 10px;
    background-color: hsl(51, 100%, 49%);
  }

  #h {
    font-size: 45px;
    text-align: center;
  }
  #top1 {
    margin: 120px 0px 0px 0px;
    width: 100%;
  }
  #arr {
    height: 100px;
  }
  #head {
    font-size: 30px;
  }
  .section2 {
    display: flex;
    flex-direction: column-reverse;

    text-align: center;
  }

  #img {
    width: 100%;
  }
  .text1 {
    height: 200px;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section4 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .text {
    /* top right botom left */
    margin: 350px 100px 10px 100px;
  }
  #client {
    font-size: 9px;
    font-weight: bold;
  }
  .section5 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 450px;
  }
  .profiles {
    display: flex;
    flex-direction: column;
  }
  .img-thomas {
    margin-top: 40px;
  }
  .img-jennie {
    margin-top: 40px;
  }
  .section6 {
    position: relative;
    top: 800px;
  }
  .pic1 {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    /* height: 100px; */
  }
  .pic2 {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
  }
  .section7 {
    position: relative;
    top: 796px;
  }
}
